[Desktop Entry]
Name=Margarita
Comment=Linux UI for Woland
Exec=margarita %u
Icon=${SNAP}/meta/gui/margarita.png
Terminal=false
Type=Application
Categories=social;
MimeType=x-scheme-handler/mg;